version: "3.7"

services:
  mysql:
    image: mysql
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      - MYSQL_USER=springuser
      - MYSQL_PASSWORD=ThePassword
      - MYSQL_DATABASE=db_example
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - "./conf.d:/etc/mysql/conf.d:ro"
    networks:
      - backend-network

  spring-boot:
    container_name: test_spring_boot
    restart: always
    build: .
    ports:
      - "8080:8080"
    expose:
      - "8080"
    depends_on:
      - mysql
    networks:
      - backend-network
    environment:
      MYSQL_HOST: mysql

networks:
  backend-network: